// single line comment
/*
Multiline comment
*/

params {
  reads = "data/*{1,2}.fastq.gz"
  outdir = "./results"

  // Skipping FastQC
  skip_fastqc = false

  // Trimming
  skipTrimming = false
  saveTrimmed = false
  clip_r1 = 0
  clip_r2 = 0
  three_prime_clip_r1 = 0
  three_prime_clip_r2 = 0
  trim_nextseq = 0

  // Default aligner
  aligner = "bwa"

  // samblaster minNonOverlap Default
  minNonOverlap = 10

  // Default settings
  max_memory = 128.GB
  max_cpus = 16
  max_time = 240.h
}

profiles {
  conda {process.conda = "$baseDir/environment.yml"}
  test {
    includeConfig 'conf/test.config'
  }
  docker {
    enabled = true

    // fix ownership of files created by the docker container
    fixOwnership = true

    // execute docker run command as sudo
    sudo = false
  }

  beatsonPeter {
    max_memory = 50.GB
    max_time = 1000.h
    max_cpus = 10
  }
}
