// single line comment
/*
Multiline comment
*/

manifest {
  name = "DSchreyer/eccDNA-pipeline"
  author = "Daniel Schreyer"
  description = "Identifies extrachromosomal circular DNA species with ATAC-seq data"
  version = "1.0.0"
}

params {
  reads = "data/*{1,2}.fastq.gz"
  outdir = "./results"

  // Skipping FastQC
  skip_fastqc = false

  // Trimming
  skipTrimming = false
  saveTrimmed = false
  clip_r1 = 0
  clip_r2 = 0
  three_prime_clip_r1 = 0
  three_prime_clip_r2 = 0
  trim_nextseq = 0

  // Nextera Transposase Adapter Sequences
  adapter1 = "CTGTCTCTTATACACATCTCCGAGCCCACGAGAC"
  adapter2 = "CTGTCTCTTATACACATCTGACGCTGCCGACGA"
  base_quality = 20
:with
  // Default aligner
  aligner = "bwa"
  bwa_index = false
  
  fasta = false

  // samblaster minNonOverlap Default
  minNonOverlap = 10
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {
  conda {process.conda = "$baseDir/environment.yml"}
  test {
    includeConfig 'conf/test.config'
  }
  docker {
    enabled = true

    // fix ownership of files created by the docker container
    fixOwnership = true

    // execute docker run command as sudo
    sudo = false
  }

  beatsonPeter {
    process.memory = 50.GB
    process.cpus = 10
    cleanup = true
  }
}

// Output Timeline
timeline {
  enabled = true
  file = "$params.outdir/timeline.html"
}

// Output Report
report {
  enabled = true
  file = "$params.outdir/report.html"
}